#block-tray {
  width            : 80px;
  height           : 100vh;
  background-color : $grey;
  color            : white;
  text-align       : center;
  display          : block;
  position         : fixed;
  top              : 0;
  right            : 0;
  padding          : 10px 0;

  .block-type {
    width      : 60px;
    border     : solid 1px white;
    text-align : center;
    display    : inline-block;
    padding    : 5px;
    transition : background-color $standard_transition,
                 border-color $standard_transition;

    &:hover {
      cursor           : pointer;
      background-color : $red;
      border-color     : $red;
    }
  }

  .block-template
  {
    position: absolute;
    right: calc(100% + 1rem);
    bottom: 0;
    min-width: 160px;
  }
}
