@import "block-tray";
@import "blocks/block-text";
@import "blocks/block-split";
@import "blocks/block-jumbotron";
@import "blocks/block-center";
@import "blocks/block-image-split";
@import "blocks/block-redeem";
@import "blocks/block-boost";
@import "blocks/block-description";

#page-builder {
  width: 100%;
  display: block;
  float: left;

  input[type=file] {
    width: 100%;
    background-color: white;
    border-radius: 0 !important;
    border: 0;
    display: block;
    float: left;
  }

  #page .block-content
  {
    .block
    {
      &[class*="col-"]
      {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}

.has-page-builder {
  width: calc(100% - 80px);
  float: left;
}

.jumbotron {
  background-size: cover;
  background-position: 0 0;
}

.block-options {
  background-color: #2c2d2e;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 15px;

  i, span {
    height: 30px;
    width: 30px;
    background-color: white;
    color: #2c2d2e;
    font-size: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 10px;
  }

  span {
    width: auto;
    background-color: transparent;
    color: white !important;
    margin-left: 0;
  }

  .fa-trash {
    background-color: $red !important;
    color: white;
  }
}
