<template>
    <div id='block-tray'>
        <div v-for='type in types' :key='type.name' @click='createBlock(type)'>
            <div v-if="type.name == 'Redeem' || type.name == 'Boost'">
                <div v-if="template == 'benefit'">
                    <div class="block-type mb-3">
                        <i :class='`fas fa-fw ${type.icon}`'></i>
                        <div>{{type.name}}</div>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="block-type mb-3">
                    <i :class='`fas fa-fw ${type.icon}`'></i>
                    <div>{{type.name}}</div>
                </div>
            </div>
        </div>
        <div v-if="template == 'benefit'" class="block-template">
            <div class="form-group">
                <select name="benefit_id" class="form-control" required @change='assignBenefit($event)'>
                    <option v-if="!cur_benefit" disabled selected>None</option>
                    <option v-for="(benefit, i) in benefits" :value="benefit.id" :selected="cur_benefit == benefit.id">{{  benefit.name }}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'block-tray',
        props: ['template', 'benefits', 'cur_benefit'],
        data: function () {
            return {
                types: {
                    description: {
                        name: 'Desc.',
                        template: 'block-description',
                        icon: 'fa-pen'
                    },
                    text: {
                        name: 'Text',
                        template: 'block-text',
                        icon: 'fa-bars'
                    },
                    split: {
                        name: 'Split',
                        template: 'block-split',
                        icon: 'fa-columns'
                    },
                    splitimage: {
                        name: 'Image Split',
                        template: 'block-image-split',
                        icon: 'fa-bars'
                    },
                    jumbotron: {
                        name: 'Jumbo',
                        template: 'block-jumbotron',
                        icon: 'fa'
                    },
                    slider: {
                        name: 'Slider',
                        template: 'block-slider',
                        icon: 'fa-exchange-alt'
                    },
                    redeem: {
                        name: 'Redeem',
                        template: 'block-redeem',
                        icon: 'fa-exchange-alt'
                    },
                    boost: {
                        name: 'Boost',
                        template: 'block-boost',
                        icon: 'fa-exchange-alt'
                    }
                }
            }
        },
        methods: {
            createBlock: function (type) {
                this.$emit('createBlock', type);
            },
            assignBenefit: function(event)
            {
                this.$emit('assignBenefit', event);
            }
        },
    }
</script>

<style scoped>

</style>
