<template>
    <div id="page-builder">
        <toast></toast>
        <div id="page" class="row">
            <component :is="block.template"
                       v-for="(block, index) in sortedBlocks"
                       :key="index"
                       :index="index"
                       :block="block"
                       :class="`block${block.id}`"
                       :size="findSize(block)"
                       :sizes="sizes"
                       @updateBlock="updateBlock"
                       @removeBlock="removeBlock"
                       @sortMoveUp="sortMoveUp"
                       @sortMoveDown="sortMoveDown"
                       @changeSize="changeSize"
            >
                <div v-html="block.template === 'block-description' ? description : block.content"
                     v-if="block.content || block.template === 'block-description'"></div>

            </component>
        </div>

        <button v-if="blocks.length" class="btn btn-primary" @click="updateBlocks(blocks)">Update</button>

        <block-tray @createBlock="createBlock" @assignBenefit="assignBenefit" :canadd="canAdd" :template="template"
                    :benefits="JSON.parse(benefits)" :cur_benefit="cur_benefit"></block-tray>
    </div>
</template>

<script>
    export default {
        name: "page-builder",
        props: ["page", "data", "description", "template", "benefits", "cur_benefit"],
        data: function () {
            return {
                blocks: this.data ? JSON.parse(this.data) : [],
                canAdd: true,
                newId: 9999999999999,
                sizes: {
                    'col-4': '1/4',
                    'col-6': '1/2',
                    'col-12': '1/1'
                }
            }
        },
        computed: {
            sortedBlocks: function () {
                return this.blocks.sort((a, b) => (a.sort_order > b.sort_order) ? 1 : -1);
            }
        },
        methods: {
            createBlock: function (type) {
                let block = {
                    ...type,
                    page_id: this.page,
                    content: null,
                    id: this.newId,
                    sort_order: 1,
                    size: 'col-12'
                };

                this.blocks.push(block);
                this.newId++;
            },
            updateBlock: function (event, block) {
                // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                // ONLY FOR SLIDER BLOCKS
                // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                $(".block-slider").slick('unslick');
                // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                block.content = $(this.$el).find('.block' + block.id).find('.block').prop('outerHTML');

                if (event !== null) {
                    this.changeSize(event, block);
                }

                fetch(`/api/block/update`, {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({'block': block})
                }).then((response) => response.json()).then((data) => {
                    block.id = data;
                    this.$root.$emit('toast', 'Block Updated');
                    $(".block-slider").slick();
                });
            },
            removeBlock: function (block, index) {
                fetch(`/api/block/destroy`, {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({'block': block})
                }).then((response) => response.json()).then((data) => {
                    this.blocks.splice(index, 1);
                });
            },
            sortMoveUp: function (block, index) {
                block.sort_order -= 1;
            },
            sortMoveDown: function (block, index) {
                block.sort_order += 1;
            },
            changeSize: function (event, block, index) {
                let content = $(block.content);
                let _class = '';

                for (let c of content[0].classList) {
                    if (c.includes('col-')) {
                        _class = c;
                    }
                }

                block.size = event.target.value;
                block.content = block.content.replace(_class, block.size);
            },
            assignBenefit: function (event) {
                fetch('/api/page/update', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({'benefit_id': event.target.value, 'page_id': this.page})
                }).then(() => this.$root.$emit('toast', 'Page Updated'));
            },
            updateBlocks: function () {
                for (let block of this.blocks) {
                    this.updateBlock(null, block);
                }
            },
            findSize: function (block) {
                let content = $(block.content);
                let _class = 'col-12';

                if (content.length) {
                    for (let c of content[0].classList) {
                        if (c.includes('col-')) {
                            _class = c;
                        }
                    }
                }

                return _class;
            }
        }
    }
</script>
