// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// --------------------------------------------------
// Libraries
// --------------------------------------------------
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css';
@import '~@fortawesome/fontawesome-pro/css/all.min.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
// --------------------------------------------------
// Imports
// --------------------------------------------------
@import './_variables.scss';
@import './_typography.scss';
@import './_utility.scss';
@import './_animations.scss';
@import './elements/_alerts.scss';
@import './elements/_buttons.scss';
@import './elements/_cards.scss';
@import './elements/_stripe.scss';
@import './elements/_inputs.scss';
@import './elements/_badges.scss';
@import './elements/_nochex.scss';
@import './elements/page-builder/_page-builder.scss';
@import './sections/_header.scss';
@import './sections/_footer.scss';
@import './sections/_contact.scss';
@import './sections/_menus.scss';
@import './sections/_sidebar.scss';
@import './sections/_account.scss';
@import './sections/_topbar.scss';
@import './sections/_benefits.scss';
@import './elements/adminTable';
@import './elements/cookieResponse';


@import './sections/partner';

// Responsive
@import './responsive/responsive';

.container {
    max-width: 1640px;

    &.small {
        max-width: 1400px;
    }
}

.featured-benefit {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.petition-block {
    &.text-center{
        color: white;
        border-radius: 20px;
    }
}

.tip{
    border-radius: 10px;
    padding: 20px;

    i{
        font-size: 40px;
    }
}

#benefits-list-inner{
    cursor: move;
    cursor: -webkit-grabbing;
}
