$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

.h2 {
    font-size: 22px !important;
}

.h3 {
    font-size: 18px !important;
    font-weight: 400;
}

ol {
    list-style: none;
    display: inline-block;
    counter-reset: my-awesome-counter;
    padding-left: 0;
}

ol li {
    counter-increment: my-awesome-counter;
    padding: 40px 20px;
    position: relative;
    font-size: 13px !important;

    &:before {
        width: 30px;
        height: 30px;
        background-color: red;
        color: white;
        text-align: center;
        font-size: 16px !important;
        line-height: 30px;
        display: inline-block;
        float: left;
        margin-right: 10px;
        border-radius: 50%;
        content: counter(my-awesome-counter);
        left: 0;
    }

    &:after {
        content: "";
        width: 4px;
        height: 100%;
        font-size: 16px !important;
        background-color: black;
        display: block;
        left: 33px;
        right: 0;
        bottom: -70px;
        position: absolute;
        margin: 0;
    }

    &:last-of-type {
        &:after {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .text-md-center {

    }
    .text-md-left {
        text-align: left;
    }

    ol li {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 1024px) {
    .text-xl-left {
        text-align: left;
    }

    .align-items-xl-center {
        align-items: center !important;
    }
}
