.a-center {
  width: 100%;
  text-align: center;
}

.btn {
  &.dash-btn {
    border-radius: 5px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .float-md-left {
    display: inline-block;
    float: left;
  }

  .my-md-3 {

  }
}