// ---------------------------------------
// Body
// ---------------------------------------
$body-bg              : #F8FAFC;
// ---------------------------------------
// Colors
// ---------------------------------------
$red                  : #DA1617;
$grey                 : #676767;
$grey2                : darken($body-bg, 20%);
$grey_light           : #F7F7F7;
// ---------------------------------------
// Bootstrap Theme
// ---------------------------------------
$theme-colors         : (
        "primary" : $red,
        "secondary" : $grey
);
$container-max-widths : (
        md: 720px,
        lg: 960px,
        xl: 1700px
) !default;
// ---------------------------------------
// Spacing
// ---------------------------------------
$padding              : 20px;
// ---------------------------------------
// Other
// ---------------------------------------
$standard_transition  : 0.1s linear;
// ---------------------------------------
// ???
// ---------------------------------------
.bg-gradient{
  background      : linear-gradient(-40deg, #014455, #315760, #21BCBB);
  background-size : 400% 400%;
  animation       : animGradient 15s ease infinite;
}

@keyframes animGradient{
  0%{
    background-position : 0 50%;
  }
  50%{
    background-position : 100% 50%;
  }
  100%{
    background-position : 0 50%;
  }
}
