// --------------------------------------------------
// Imports
// --------------------------------------------------
@import "global";
// --------------------------------------------------
// Admin only defaults
// --------------------------------------------------
.admin-app
{
  height: 100vh;
}

.form{
  width   : 100%;
  display : block;
  float   : left;

  &.bg-light{
    border-radius : 10px;
  }
}

.colour-swatch{
  width        : 30px;
  height       : 30px;
  display      : block;
  float        : left;
  margin-right : 5px;
}

