// --------------------------------------------------
// Imports
// --------------------------------------------------
@import "_global.scss";
// --------------------------------------------------
// Frontend Styles
// --------------------------------------------------
#benefit_information {
  display: block;

  &.hidden {
    display: none;
  }
}


#notify-date {
  display: block;

  &.hidden {
    display: none;
  }
}

body {
  background: white;
}

.rounded {
  border-radius: 20px !important;
  overflow: hidden;
}

.fixed {
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    right: left;
    z-index: 2;
  }

  .content {
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  h1 {
    text-align: center;
  }

  .footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;

  &.chart {
    //width : 20%;
  }
}

.benefit-page-macbook {
  @include media-breakpoint-down(xl) {
    padding: 0.75rem !important;
  }
}

.benefit-contact-form {
  font-size: 15px;
  float: left;
}

.benefit-btn-block {
  display: block;
  width: 80%;
  border: blue;

  @include media-breakpoint-down(sm) {
    width: 85%;
  }
}

.benefit-partner-img {
  max-height: 75px;
  max-width: 175px;
}

.benefit-title-container {
  top: 50%;
  left: 1rem;
  transform: translateY(0%);
  background-color: $white;
  border-radius: 5px;
  width: auto;
  height: 80px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  @include media-breakpoint-down(md) {
    height: 160px;
  }
}

.benefit-name-show {
  text-shadow: 0px 0px 10px #000000d1;
}

.benefit-provider-container {
  top: 50%;
  left: 1rem;
  transform: translateY(0%);
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.1) !important;
  //max-width: 90%;
  width: 200px;
  height: 110px;
  background-size: 65% auto;
  background-repeat: no-repeat;
  background-position: center;

  @include media-breakpoint-down(lg) {
    height: 150px;
    width: 250px;
    background-size: 60% auto;
  }

  @include media-breakpoint-down(md) {
    height: 125px;
    width: 190px;
    background-size: 60% auto;
  }
  @include media-breakpoint-down(sm) {
    height: 125px;
    max-width: 80%;
    margin: 40px;
    background-size: 80% auto;
  }
}

.register-form {
  @include media-breakpoint-down(md) {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.invite-member-form {
  @include media-breakpoint-down(md) {
    width: 100% !important;
  }
}

.login-form {
  @include media-breakpoint-down(md) {
    padding: 1rem !important;
  }
}

.contact-form {
  @include media-breakpoint-down(md) {
    padding: 1rem !important;
  }
}

.account-dashboard-title-top {
  @include media-breakpoint-down(md) {
    padding-top: 1rem !important;
  }
}

.account-dashboard-title-bottom {
  @include media-breakpoint-down(md) {
    margin-bottom: 1rem !important;
  }
}


.partner-img {
  max-height: 75px;
  max-width: 175px;
}

.benefit-name-card {
  color: black;
}

.benefit-price-card {
  font-weight: bold;
}

.benefit-border-rounded {
  border-radius: 5px;
}

.card-benefit {
  height: 330px;

  .benefit-img {
    @extend .p-0;

    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .benefit-overlay-container {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    background-color: $white;
    border-radius: 5px;
    width: 150px;
    height: 90px;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card-block {
    @extend .d-flex;

    .card-body {
      @extend .d-flex, .flex-column, .align-items-center, .justify-content-end, .p-3;

      .card-text-container {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 32px;

        .card-text {
          @extend .mb-0;
          font-size: 1rem;
        }
      }

      .benefit-enrolled-container {
        @extend .d-flex, .align-items-center, .justify-content-center, .h-100, .pt-md-0;
      }
    }
  }

  .benefit-img, .card-block {
    flex: 1;
  }

  @include media-breakpoint-down(md) {
    height: 340px;
  }

  @include media-breakpoint-down(sm) {
    height: 375px;
  }
}


.single-chart {
  width: 100%;
  justify-content: space-around;
}

.circular-chart {
  display: block !important;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.mobile-circular-chart {
  @include media-breakpoint-down(sm) {
    max-width: 60%;
  }
}

.circle-bg {
  fill: none;
  stroke: #EEEEEE;
  stroke-width: 2;
}

.circle {
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  //animation      : progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.percentage {
  fill: #666666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.smaller {
  .percentage {
    font-size: 0.3em;
  }
}

.single-chart .description {
  fill: #666666;
  font-family: sans-serif;
  font-size: 0.175em;
  text-anchor: middle;
}
