<template>
    <div id="sidebar">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" :class="{'active': this.uri === ''}">
                <i class="fas fa-fw fa-home mr-2"></i>
                <a href="/admin">Dashboard Home</a>
            </li>
            <li class="list-group-item" :class="{'active': uriContains('partners')}">
                <i class="fas fa-fw fa-users mr-2"></i>
                <a href="/admin/partners">Partners</a>
            </li>
            <li class="list-group-item" :class="{'active': uriContains('benefits')}">
                <i class="fas fa-fw fa-check mr-2"></i>
                <a href="/admin/benefits">Benefits</a>
            </li>
            <li class="list-group-item" :class="{'active': uriContains('posts')}">
                <i class="fas fa-fw fa-check mr-2"></i>
                <a href="/admin/posts">Blog</a>
            </li>
            <li class="list-group-item" :class="{'active': uriContains('settings')}">
                <i class="fas fa-fw fa-cog mr-2"></i>
                <a href="/admin">Settings</a>
            </li>
            <li class="list-group-item" :class="{'active': uriContains('pages')}">
                <i class="fas fa-fw fa-question mr-2"></i>
                <a href="/admin/pages">Pages</a>
            </li>
            <li class="list-group-item" :class="{'active': uriContains('contact')}">
                <i class="fas fa-fw fa-bars mr-2"></i>
                <a href="/admin/contacts">Contact Messages</a>
            </li>
            <li class="list-group-item" :class="{'active': uriContains('contact')}">
                <i class="fas fa-fw fa-bars mr-2"></i>
                <a href="/admin/users">User Registrations</a>
            </li>
            <li class="list-group-item">
                <i class="fas fa-fw fa-sign-out-alt mr-2"></i>
                <a href="#" onclick="document.getElementById('logout_form').submit()">Logout</a>
                <form id="logout_form" method="POST" action="/logout">
                    <input type="hidden" name="_token" :value="csrf">
                </form>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "sidebar",
        data: function () {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                uri: null
            }
        },
        methods: {
            uriContains: function(string){
                return this.uri.includes(string);
            }
        },
        created: function () {
            let url = window.location.toString();
            let uri = url.split('admin');
            this.uri = uri[uri.length - 1].replace('/', '');
        }
    }
</script>
