.table{
  width   : 100%;
  display : block;
  float   : left;

  .table-head, .table-row{
    display      : flex;
    flex-wrap    : wrap;
    align-items  : center;
    margin-left  : 0;
    margin-right : 0;

    [class*='col']{
      padding : 15px;
    }
  }

  .table-head{
    //background-color : #2c2d2e;
    //color            : white;

    [class*='col']{
      color : #2C2D2E;
    }
  }

  .table-row{
    background-color : white;
    border-radius    : 10px;
    margin-bottom    : 15px;
  }
}

.table-actions{
  display       : flex;
  flex-wrap     : wrap;
  margin-bottom : 15px;
}
