.alert {
    width: 50%;
    color: white;
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: auto;
    padding: 40px;
    position: fixed;
    z-index: 99;
    top: 25px;
    right: 0;
    left: 0;

    .fa-check, .fa-times {
        font-size: 40px;
    }

    &.alert-success {
        background-color: #2ecc71;
        box-shadow: 0 0 10px #2ecc71;
    }

    &.alert-danger {
        background-color: #e74c3c;
        box-shadow: 0 0 10px #e74c3c;
    }
}

@media only screen and (max-width: 640px) {
    .alert {
        width: 90%;
        position: fixed;
        top: auto;
        left: 0;
        right: 0;
        bottom: 20px;
    }
}

