.btn{
  font-weight   : 500 !important;
  border-radius : 30px !important;
  padding       : ($padding / 2) $padding !important;

  &.btn-white{
    background-color : white;
  }
}

.btn-link{
  padding-left  : 0 !important;
  padding-right : 0 !important;
}

.btn-modal {
  width: 200px
}

.input-group-prepend{
  .btn{
    border-top-right-radius    : 0 !important;
    border-bottom-right-radius : 0 !important;
    padding                    : 0.375rem 2rem !important;
  }
}

.input-group-append{
  .btn{
    border-top-left-radius    : 0 !important;
    border-bottom-left-radius : 0 !important;
    padding                   : 0.375rem 2rem !important;
  }

  select{
    border-radius : 0;
  }
}

/* **************** */
/* GRADIENT BUTTONS */
/* **************** */
.btn-gradient{
  width            : 100%;
  text-align       : center;
  color            : #FFFFFF;
  background-color : #21BCBB;
  background-size  : 500%;
  border-radius    : 10px;
  z-index          : 100;
  position         : relative;

  &:before{
    content         : '';
    z-index         : -1;
    background      : linear-gradient(45deg, #014455, #315760, #21BCBB, #21BCBB, #315760, #014455);
    background-size : 500%;
    border-radius   : 20px;
    top             : 0;
    left            : 0;
    bottom          : 0;
    right           : 0;
    transition      : .5s;
    position        : absolute;
    animation       : animate 16s linear infinite;
  }

  &:hover{
    color : #FFFFFF;

    &:before{
      background : #21BCBB;
      animation  : none;
    }
  }
}

@keyframes animate{
  0%{
    background-position : 0;
  }
  100%{
    background-position : 500%;
  }
}