.card{
  border-radius : 0;
  border        : 0;

  .card-body-scroll{
    max-height : 200px;
    overflow-y : scroll;
  }

  .card-body{
    &.disabled{
      pointer-events : none;
      position       : relative;
      overflow       : hidden;

      &:after{
        content         : "\f023";
        width           : 100%;
        height          : 100%;
        background      : rgba(0, 0, 0, 0.7);
        color           : white;
        font-family     : "Font Awesome 5 Pro";
        font-size       : 75px;
        display         : flex;
        align-items     : center;
        justify-content : center;
        position        : absolute;
        top             : 0;
        left            : 0;
        border-radius   : 15px;
      }
    }
  }

  &.full-image{
    color           : white;
    text-align      : center;
    justify-content : center;
    overflow        : hidden;
    padding         : 0;

    .card-body{
      background-size     : cover !important;
      background-position : center !important;
      padding             : 75px 0;

      .heading{
        width : 100%;
      }
    }

    &.small-pad{
      margin : 0;

      .card-body{
        padding : 20px 10px;
      }
    }

    &.full-width{
      border : 0;

      .card-body{
        padding : 125px 0;
      }
    }
  }
}

// Mainly used for the file_manager tab in the users dashboard
.card-deck{
  justify-content : center;

  [class*='col']{
    margin-bottom : 20px;

    .card{
      height        : 100%;
      min-height    : 300px;
      border-radius : 15px !important;

      .card-body{
        display         : flex;
        align-items     : center;
        justify-content : center;
        flex-wrap       : wrap;

        font-size       : 22px;

        svg{
          width : 80%;
        }

        .display-1{
          width      : 100%;
          text-align : center;
        }

        .full-size{
          width       : 144px;
          height      : 144px;
          font-size   : 144px;
          line-height : 144px;
          position    : absolute;
          top         : 0;
          right       : 0;
          bottom      : 0;
          left        : 0;
          margin      : auto;
          opacity     : 0.2;
        }
      }
    }

    &:nth-of-type(odd){
      .card{
        background-color : $secondary;
        color            : white;

        .percentage{
          color : white;
          fill  : white;
        }
      }
    }

    &:nth-of-type(even){
      color : $secondary;
    }
  }
}

button{

}