.js-cookie-consent {
    &.cookie-consent {
        width: 100%;
        color: white;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        padding: 20px;

        button {
            color: white;
            font-weight: 500 !important;
            border: 0;
            padding: 10px 20px !important;
            margin-left: 10px;
        }
    }
}
