.header-dropdown, .colour-dropdown {
  display: flex;

  .control {
    width: 100%;
    display: flex;

    .colour {
      width: 40px;
      height: 40px;
    }

    .input {
      width: 100%;
      background-color: white;
      border: solid 1px;
      display: flex;
      align-items: center;
      padding-left: 20px;

      &:after {
        content: '\f078';
        font-family: 'Font Awesome 5 Free';
        font-size: 10px;
        font-weight: 900;
        position: absolute;
        right: 20px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .dropdown {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 40px;
    z-index: 99;

    .list-group-item {
      transition: background-color .3s linear;
      display: flex;
      align-items: center;

      .preview {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 10px;
      }

      &:hover {
        background-color: #EEEEEE;
        cursor: pointer;
      }
    }
  }
}

.custom-input-label{
  overflow: hidden;
}