.nochex-modal-container
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-popover;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.ncx-modal-background
{
  background-color: white;

  .ncx-modal
  {
    box-shadow: none;
    border: none;

    .ncx-test_label
    {
      box-shadow: none;
    }
  }
}