<template>
    <div class="modal fade modal-confirm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                   <h2 class="text-member">This action is permanent. It cannot be undone.</h2>
                    <p>Are you sure you want to continue?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" @click="submitForm">Yes, I'm Sure</button>
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">No, Go Back</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['form'],
        data: function(){
            return {

            }
        },
        methods: {
            submitForm: function(){
                $(this.form).submit();
            }
        },
        mounted: function(){
            // stubbed
        }
    }
</script>
