<template>
    <div id="plan-selector">
        <div class="form-group">
            <label for="plan" class="form-label">Membership Plan</label>
            <select name="plan_id" id="plan" class="custom-select" v-model="mutablePlan">
                <option :value="id" v-for="(name, id) in mutablePlans">{{name}}</option>
            </select>
        </div>

        <div class="form-group" v-if="mutablePlan === '2' || mutablePlan === '3' || mutablePlan === '4'">
            <label for="referred" class="form-label">Linked User</label>
            <select name="referred" id="referred" class="custom-select" v-model="mutableUser">
                <option :value="id" v-for="(name, id) in mutableUsers">{{name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="partner_id" class="form-label">Linked Partner</label>
            <select name="partner_id" id="partner_id" class="custom-select" v-model="mutablePartner">
                <option :value="id" v-for="(name, id) in mutablePartners">{{name}}</option>
            </select>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'plans',
            'plan',
            'partners',
            'partner',
            'users',
            'user'
        ],
        data: function () {
            return {
                mutablePlans: this.plans ? JSON.parse(this.plans) : [],
                mutablePartners: this.partners ? JSON.parse(this.partners) : [],
                mutableUsers: this.users ? JSON.parse(this.users) : [],
                mutablePlan: this.plan,
                mutableUser: this.user,
                mutablePartner: this.partner
            }
        },
        methods: {
            // stubbed
        },
    }
</script>
