<template>
    <div id="role-selector" v-if="email !== 'admin@trustbox.com'">
        <div class="form-group">
            <label for="role_id">User Role</label>
            <select name="role_id" id="role_id" class="custom-select" v-model="selectedRole" @change="checkRole($event)">
                <option :value="id" v-for="(name, id) in mutableRoles">{{name}}</option>
            </select>
        </div>

        <div id="partners" v-if="mutableRoles[selectedRole] === 'Partner'">
            <div class="form-group" v-if="Object.keys(mutablePartners).length > 0">
                <label for="partner">Partner</label>
                <select name="partner" id="partner" class="custom-select" v-model="selectedPartner">
                    <option :value="id" v-for="(name, id) in mutablePartners">{{name}}</option>
                </select>
            </div>
            <span class="text-danger" v-else>There are currently no partners within the system. Please create one before assigning users.</span>
        </div>

        <div id="providers" v-if="mutableRoles[selectedRole] === 'Provider'">
            <div class="form-group" v-if="Object.keys(mutableProviders).length > 0">
                <label for="partner">Provider</label>
                <select name="provider" id="provider" class="custom-select">
                    <option :value="id" v-for="(name, id) in mutableProviders">{{name}}</option>
                </select>
            </div>
            <span class="text-danger" v-else>There are currently no providers within the system. Please create one before assigning users.</span>
        </div>
        
        <div class="form-group" v-if="mutableRoles[selectedRole] === 'Admin' || mutableRoles[selectedRole] === 'Staff'">
            <label for="mobile" class="control-label">Mobile</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">+44</span>
                </div>
                <input id="mobile" required="required" name="mobile" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" :value="mobile  ">
            </div>
        </div>
    </div>
    <div class="text-danger" v-else>
        Cannot change the role of the admin@trustbox.com account.
    </div>
</template>

<script>
    export default {
        props: [
            'roles', 'selected', 'partners', 'providers', 'email', 'partner', 'mobile'
        ],
        data: function () {
            return {
                mutableRoles: this.roles ? JSON.parse(this.roles) : [],
                mutablePartners: this.partners ? JSON.parse(this.partners) : [],
                mutableProviders: this.providers ? JSON.parse(this.providers) : [],
                selectedRole: this.selected,
                selectedPartner: this.partner,
            }
        },
        methods: {
            checkRole(event)
            {
                if($(event.target).find('option:selected').text() !== 'User')
                {
                    $('#plan-selector').hide();
                }else
                {
                    $('#plan-selector').show();
                }
            }
        },
        mounted: function () {
            if($('#role_id').find('option:selected').text() !== 'User')
            {
                $('#plan-selector').hide();
            }
        }
    }
</script>
