<template>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000"
         style="width: 300px; position: fixed; top: 20px; right: 100px; z-index: 99">
        <div class="toast-header">
            <img src="" class="rounded mr-2" alt="">
            <strong class="mr-auto">Alert</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{message}}
        </div>
    </div>
</template>

<script>
    export default {
        name: "toast",
        data: function () {
            return {
                message: null
            }
        },
        mounted: function () {
            let _this = this;
            this.$root.$on('toast', function (message) {
                _this.message = message;
                $('.toast').toast('show');
            })
        }
    }
</script>

<style scoped>

</style>