<template>
    <div class="row">
        <div class="col-md-4 p-1" v-for="(benefit, i) in benefitsArr">
            <div class="card h-100 full-image small-pad rounded">
                <div class="card-body d-flex w-100 justify-content-center flex-wrap bg-partner">
                    <h2 class="h6 text-white text-capitalize mb-3">{{ benefit.name}} </h2>
                    <img :src="benefit.thumbnail" alt="benefit" class="img-fluid benefit-thumbnail">

                    <div class="price w-100 mb-3">
                        <strong>£{{ benefit.price}} a month</strong>
                    </div>

                    <input type="hidden" :name="`benefits[${benefit.id}]`" value="0">

                    <div class="badge mt-5" :class="benefit.pivot.boosted ? 'badge-success' : 'badge-danger'">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input benefit-toggle"
                                   :data-includes-file-manager="benefit.includes_file_manager"
                                   :name="`benefits[${benefit.id}]`"
                                   :id="`boosted-benefit-${benefit.id}`"
                                   :data-price="benefit.price"
                                   :checked="benefit.pivot.boosted"
                                   :disabled="!benefit.pivot.boosted"
                                   @change="updateChecked($event, i, benefit)"
                            >
                            <label class="custom-control-label" :for="`boosted-benefit-${benefit.id}`">
                                {{ benefit.pivot.boosted ? 'Benefit Boosted' : 'Boost Inactive'}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <boost-modal @showPayment="showIframe = true"></boost-modal>
        <boost-error-modal> </boost-error-modal>

        <nochex-form :show="showIframe" :benefit="chosenBenefit.length > 0 ? chosenBenefit[0] : benefitsArr[0]" :user="userArr" :subscription="subscription" @hideModal="showIframe = false"></nochex-form>
    </div>
</template>
<script>

    import BoostErrorModal from "./boost-error-modal";
    export default {
        name: "boost-form",
        components: {BoostErrorModal},
        props: {
            benefits: {},
            subscription: {},
            user: {}
        },
        data: function () {
            return {
                benefitsArr: [],
                userArr: [],
                checkedArr: [],
                error: false,
                chosenBenefit: {},
                showIframe: false
            }
        },
        methods: {
            updateChecked(event, i, benefit)
            {
                let el = $(event.target);
                let val = el.prop('checked');

                let found = this.checkedArr.some(el => el.index == i);

                if(!found){
                    this.checkedArr.push({
                        index: i,
                        checked: val
                    });
                } else
                {
                    let curObj = this.checkedArr.filter(el => el.index == i)[0];

                    curObj.checked = val;
                }

                if(!this.subscription)
                {
                    let count = 0;

                    this.checkedArr.forEach((e) => {
                        if(e.checked)
                        {
                            count++;
                            benefit.checked = true;
                        }else
                        {
                            let index = this.checkedArr.indexOf(e);
                            this.checkedArr.splice(index);

                            benefit.checked = false;
                        }
                    });

                    this.error = count > 1;

                    if(this.error)
                    {
                        el.prop('checked', false);
                    }

                    this.findChosenBenefit();
                }
            },
            findChosenBenefit: function()
            {
                this.chosenBenefit = this.benefitsArr.filter(el => {
                    if(el.hasOwnProperty('checked') && el.checked)
                    {
                        return el
                    }
                });
            }
        },
        watch: {
            error(val) {
                if (val) {
                    $('#boost-error').modal('show');
                }
            }
        },
        created() {
            if(this.benefits)
            {
                this.benefitsArr = JSON.parse(this.benefits);
            }

            if(this.user)
            {
                this.userArr = JSON.parse(this.user);
            }
        }
    }
</script>

<style scoped>

</style>