<template>
    <div id="boost-error" class="modal hide fade">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="w-100 text-center">Boost One Benefit</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-5 d-flex justify-content-center flex-wrap">
                    <p class="text-muted text-center">
                        Due to this being your first time boosting a benefit please only select and boost one intial benefit to create a new subscription.
                        <br>
                        <br>
                        You will only need to do this once.
                    </p>
                    <button class="btn btn-primary boost-benefits-button" type="button" data-dismiss="modal" data-toggle="modal" data-target="#boost-confirm">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "boost-error-modal",
        props: {
            show: false,
        }
    }
</script>

<style scoped>

</style>