<template>
    <div id="boost-confirm" class="modal hide fade">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body p-5 d-flex justify-content-center flex-wrap">
                    <h3 class="w-100 text-center">Boosting New Benefits</h3>
                    <hr class="w-100">
                    <div class="boosted-price w-100 text-center text-member">
                        <strong class="new-price">£<span class="value">0</span> per month</strong>
                    </div>
                    <hr class="w-100">

                    <p class="text-muted text-center">
                        As it’s your first time boosting benefits, you will need to set up a direct debit payment via the NoChex
                        checkout to create a new subscription for your account.
                        <br>
                        <br>
                        You will only need to do this once.
                    </p>
                    <button class="btn btn-primary btn-modal" type="button" @click="showPayment">Pay Now</button>&nbsp;&nbsp;&nbsp;
                    <button data-dismiss="modal" class="btn btn-danger btn-modal" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "boost-modal",
        methods: {
            showPayment()
            {
                this.$emit('showPayment', true);
            }
        }
    }
</script>

<style scoped>

</style>