<template>
    <div class="flex-wrapper chart">
        <div class="single-chart">
            <svg viewBox="0 0 36 36" class="circular-chart primary">
                <path d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" class="circle-bg"></path>
                <path :stroke-dasharray="this.percentage+', 100'" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" class="circle"></path>
                <text x="18" y="20.35" class="percentage" v-if="total !== 'infinity'">{{ accepted }} / {{ total }}</text>
                <text x="18" y="20.35" class="percentage" v-else>{{ accepted }} / ∞</text>
            </svg>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'total',
            'accepted'
        ],
        data: function()
        {
            return {
                'percentage': 0
            }
        },
        mounted: function()
        {
            if(this.total > 0)
            {
                this.percentage = (this.accepted/this.total) * 100;
            }
        }
    }
</script>
