<template>
    <div class="colour-dropdown position-relative mb-3">
        <div class="control">
            <div class="colour" :style="`background-color: ${currentColour}`"></div>
            <input class="input colour-picker" :style="`border-color: ${currentColour}`" :placeholder="`Primary Colour (${current})`" :name="name" v-model="currentColour" />
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            current: {default: '#000'},
            name: {default: ''}
        },
        data: function () {
            return {
                currentColour: this.current
            }
        }
    }
</script>
