<!--<template>-->
<!--    <div id="dd-confirm" class="modal" tabindex="-1">-->
<!--        <div class="modal-dialog modal-dialog-centered modal-lg">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-body p-5 d-flex justify-content-center flex-wrap">-->
<!--                    <h3 class="h2 w-100 text-center">-->
<!--                        <span class="name">Direct Debit</span>-->
<!--                        - Confirmation-->
<!--                    </h3>-->
<!--                    <p class="w-100 text-center">On which day of the month would you like to make payments?</p>-->
<!--                    <hr class="w-100">-->
<!--                    <form action="/subscription/updatedate" method="POST">-->
<!--                        <div class="w-100 text-center text-member">-->
<!--                            <div class="col-6 mx-auto">-->
<!--                                <span v-if="!edit">-->
<!--                                    <strong>-->
<!--                                        {{ sub_date }}-->
<!--                                    </strong>-->
<!--                                </span>-->

<!--                                <div class="d-inline-block form-group mb-0" v-else>-->
<!--                                    <input type="hidden" name="subscription_date" :value="sub_date_unform" :min="sub_date_unform">-->
<!--                                    <input type="hidden" class="form-control" name="month" :value="monthNo + 1">-->

<!--                                    <select name="day" id="day" class="custom-select" v-model="day">-->
<!--                                        <option :value="day">{{day}}</option>-->
<!--                                        <option :value="i" v-for="i in 28">{{i}} {{current == i ? ' (current)' : null}}</option>-->
<!--                                    </select>-->

<!--                                    <div class="text-center py-3 text-partner">-->
<!--                                        Your payment will be scheduled for the-->
<!--                                        <br>-->
<!--                                        <strong>{{day}}{{nth(day)}} of {{month}}</strong>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <i class="fa fa-pen ml-3" @click="editDate()"></i>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <hr class="w-100">-->
<!--                        <p class="text-center text-danger">-->
<!--                            Please note if you change the date, you will receive an email explaining that the initial direct debit has been cancelled and a new direct debit has been set up with your chosen date.-->
<!--                        </p>-->

<!--                        <div class="d-flex justify-content-center">-->
<!--                            <button type="button" class="btn btn-primary mt-3" data-dismiss="modal" v-if="edit" @click="edit = false">-->
<!--                                <i class="fa fa-times mr-2"></i>-->
<!--                                CANCEL-->
<!--                            </button>-->

<!--                            <button class="btn btn-primary ml-3 mt-3" v-if="edit">-->
<!--                                <i class="fa fa-pen mr-2"></i>-->
<!--                                CHANGE DATE-->
<!--                            </button>-->

<!--                            <a href="/subscription/forget" class="btn btn-primary mt-3" style="-webkit-appearance: none" v-else>-->
<!--                                CONFIRM-->
<!--                            </a>-->

<!--                            <input type="hidden" name="_token" :value="csrf">-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</template>-->

<!--<script>-->
<!--    export default {-->
<!--        name   : "dd-modal",-->
<!--        props  : [-->
<!--            'sub_date',-->
<!--            'sub_date_unform'-->
<!--        ],-->
<!--        data   : function () {-->
<!--            return {-->
<!--                'edit'   : false,-->
<!--                'csrf'   : document.querySelector('meta[name="csrf-token"]').getAttribute('content'),-->
<!--                'current': this.sub_date_unform.split('-').pop(),-->
<!--                'day'    : this.sub_date_unform.split('-').pop(),-->
<!--                'monthNo': new Date().getMonth(),-->
<!--                'month'  : ''-->
<!--            }-->
<!--        },-->
<!--        methods: {-->
<!--            editDate() {-->
<!--                this.edit = true;-->
<!--            },-->
<!--            nth(n){-->
<!--                return["st","nd","rd"][((n+90)%100-10)%10-1]||"th"-->
<!--            }-->
<!--        },-->
<!--        watch  : {-->
<!--            day: function () {-->
<!--                if (this.day < this.current) {-->
<!--                    this.monthNo < 11 ? this.monthNo += 1 : 1;-->
<!--                }else{-->
<!--                    this.monthNo = new Date().getMonth()-->
<!--                }-->

<!--                this.month = new Date(new Date().getFullYear(), this.monthNo, this.day).toLocaleString('default', {month: 'long'});-->
<!--            }-->
<!--        },-->
<!--        mounted: function () {-->
<!--            $('#dd-confirm').modal('show');-->
<!--            this.month = new Date(new Date().getFullYear(), this.monthNo, this.day).toLocaleString('default', {month: 'long'});-->
<!--        }-->
<!--    }-->
<!--</script>-->

<!--<style scoped>-->

<!--</style>-->