<template>
    <div class="header-dropdown position-relative">
        <input type="hidden" name="header_mode" :value="currentColour">

        <div class="control">
            <div class="colour" :style="`background-color: #${colours[currentColour].hex}`"></div>
            <div class="input" :style="`border-colour: #${colours[currentColour].hex}`" @click="toggleShow">Set Header Mode ({{currentColour}})</div>
        </div>
        <transition name="fade">
            <ul class="list-group dropdown" v-if="show">
                <li class="list-group-item text-capitalize" v-for="colour in colours" @click="select(colour.name)">
                    <div class="preview" :style="`background-color: #${colour.hex}`"></div>
                    {{colour.name}}
                </li>
            </ul>
        </transition>
    </div>
</template>

<script>
    export default {
        props  : {
            current: {default: 'dark'}
        },
        data   : function () {
            return {
                show        : false,
                currentColour: this.current,
                colours      : {
                    light: {
                        name: 'light',
                        hex : 'eee'
                    },
                    dark : {
                        name: 'dark',
                        hex : '000'
                    }
                }
            }
        },
        methods: {
            toggleShow: function () {
                this.show = !this.show;
            },
            select    : function (value) {
                this.currentColour = value;
                this.show         = false;
            }
        }
    }
</script>
