<template>
    <div class="card">
        <div class="card-body logo-card position-relative" :class="{'bg-dark': header_mode === 'dark'}">
            <img :src="`/storage/logos/${logo}`" alt="company_logo" id="logo_preview" class="img-fluid mb-3" v-if="logo">

            <div class="w-100 d-flex justify-content-center">
                <label for="logo" class="btn btn-primary">
                    <i class="fa fa-upload mr-2"></i> Upload Logo
                </label>
                <input type="file" name="logo" id="logo" class="d-none" @change="preview">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            current: {default: null},
            header_mode: {default: 'light'}
        },
        data: function () {
            return {
                logo: this.current
            }
        },
        methods: {
            preview: function (event) {
                let reader = new FileReader();
                let image = new Image();

                reader.onload = function (e) {
                    let image = new Image();

                    image.onload = function(){
                        document.getElementById('logo_preview').setAttribute('src', image.src);
                    }

                    image.src = e.target.result;
                }

                reader.readAsDataURL(event.target.files[0]);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .logo-card {
        display         : flex;
        align-items     : center;
        justify-content : center;
        flex-wrap       : wrap;
    }
</style>
