<template>
    <div v-if="show || hide" class="nochex-modal-container">
        <iframe :src="`/nochex/boost-benefit/${benefit.id}`" frameborder="0" height="750px" width="400px" id="nochex-iframe"></iframe>
    </div>
</template>

<script>
    export default {
        name: "nochex-form",
        props: {
            benefit: {},
            show: false,
            user: {}
        },
        data: function()
        {
            return {
                hide: false
            }
        },
        watch: {
            show(val)
            {
                this.hide = val;
            }
        },
        methods: {
          hideModal()
          {
              this.hide = true;

              this.$emit('hideModal');
          }
        },
        mounted() {
            let _this = this;
            window.onmessage = function(e){
                if (e.data == 'closed') {
                    _this.hideModal();
                }
                if (e.data == 'redirect') {
                    window.location.replace('/dashboard?fragment=boosted_benefits');
                }
            };
        }
    }
</script>

<style scoped>

</style>