<template>
    <div class="password">
        <div class="row" v-if="!show && !always">
            <div class="col-md">
                <button class="btn btn-link" type="button" @click="show = true">
                    <i class="fa fa-key mr-2"></i> Change Password
                </button>
            </div>
        </div>

        <div class="row" v-else>
            <div class="col-12 col-md-6">
                <div class="form-group position-relative">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" :tabindex="tab" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$" required>

                    <small class="text-danger">** Your password must be more than 8 characters long, should contain at least 1 uppercase, 1 lowercase, 1 numeric and 1 special character.</small>

                    <div class="invalid-tooltip">
                        Your password must be more than 8 characters long, should contain at least 1 uppercase, 1 lowercase, 1 numeric and 1 special character.
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group position-relative">
                    <label for="password_confirm">Password Confirm</label>
                    <input type="password" name="password_confirmation" id="password_confirm" class="form-control" :tabindex="parseInt(tab) + 1" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$" required>

                    <div class="invalid-tooltip">
                        Your password must be more than 8 characters long, should contain at least 1 uppercase, 1 lowercase, 1 numeric and 1 special character.
                    </div>
                </div>
            </div>
            <div class="col-12" v-if="showold">
                <div class="form-group position-relative">
                    <label for="password_confirm">Old Password</label>
                    <input type="password" name="old_password" id="old_password" class="form-control" :tabindex="parseInt(tab) + 2" required>

                    <div class="invalid-tooltip">
                        You must provide your old password in order to change it.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-link" type="button" @click="show = false" v-if="!always">
                    <i class="fa fa-times mr-2"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            always: {default: false},
            tab: {default: null},
            showold: {default: false}
        },
        data: function () {
            return {
                show: false
            }
        }
    }
</script>
