<template>
    <div id="dd-upgrade" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body p-5">

                    <h5 class="card-title text-muted text-uppercase text-center">{{ upgrade ? 'Upgrade' : 'Downgrade'}} Storage</h5>
                    <hr>
                    <h6 class="card-price text-center mb-3">
                        <template v-if="upgrade">
                            Please confirm your storage upgrade to {{ size }}GB Storage.
                            Your charges will increase by £{{ price }} per month
                        </template>
                        <template v-else>
                            Please confirm your storage downgrade to {{ default_size }}GB Storage.
                            Your charges will decrease by £{{ price }} per month
                        </template>
                    </h6>

                    <form action="/subscription/change-plan" method="POST">
                        <input type="hidden" name="plan_id" :value="upgrade ? 1 : 0">
                        <input type="hidden" name="_token" :value="csrf">
                        <button class="btn btn-primary btn-block">
                            Confirm
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name   : "upgrade-modal",
        props  : [
            'upgrade',
            'default_size',
            'price',
            'size'
        ],
        data   : function () {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            }
        },
        methods: {

        },
        mounted: function () {
            $('#dd-upgrade').modal('show');
        }
    }
</script>

<style scoped>

</style>
