.full-image {
    .benefit-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.4;
        pointer-events: none;
        z-index: 0;
    }

    .btn {
        position: relative;
        z-index: 1;
        //margin-bottom : 50px !important;
    }

    a {
        display: inline-block;
        padding-bottom: 40px;
    }

    .badge {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px;

        label {
            padding-top: 5px;
        }
    }

    .price {
        margin-bottom: 80px !important
    }
}

.monthly-total,
.new-total {
    width: 100%;
    text-align: center;
    font-size: 22px;
    transition: all .4s ease;
    @include media-breakpoint-down(sm) {
        font-size: 18px;
        margin-top: -25px;
        margin-bottom: 5px;
    }

    .price {
        font-size: 30px;
        font-weight: 700;
        @include media-breakpoint-down(sm) {
            font-size: 20px;
        }
    }
}

.new-total {
    opacity: 0;
}

.boosted-price {
    font-size: 24px;
}

.seconds {
    font-size: 20px;
}

.trial-end-date {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.pricing .card {
    border: none;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    border-bottom: solid 4px $primary;
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 2rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

