.benefit-banner {
    min-height: 350px;
    border-radius: 0;
}

.my-benefit-btn-block {
    display: block;
    width: 80%;
    border: blue;
    @include media-breakpoint-down(sm) {
        width: 90%;
    }
}

.benefit-content-show-btn {
    display: block;
    width: 95%;
    border: blue;
    font-size: 15px;
    border-radius: 10px !important;
    line-height: 50px;

    height: 70px;
    @include media-breakpoint-down(sm) {
        width: 90%;
        margin-top: 10px;
    }
}

.benefit-show-gift-back-btn {
    display: block;
    width: 15%;
    border: blue;
    font-size: 15px;
    border-radius: 10px !important;
    line-height: 50px;

    height: 70px;
    @include media-breakpoint-down(lg) {
        width: 41% !important;
        margin: auto !important;
        margin-top: 20px !important;
    }

    @include media-breakpoint-down(md) {
        width: 45% !important;
        margin: auto !important;
        margin-top: 20px !important;
    }

    @include media-breakpoint-down(sm) {
        width: 65% !important;
        margin: auto !important;
        margin-top: 20px !important;
    }
}

.benefit-contact-container {
    position: relative;
    top: -20px;
    margin-bottom: 30px;
}

.benefit-cards-layout {
    @include media-breakpoint-down(md) {
        margin-top: 40px;
    }
}

.benefit-title {
    @include media-breakpoint-down(sm) {
        font-size: 1.5rem !important;
        //white-space: nowrap !important;
        margin: 12px !important;
        width: 100%;
    }
}

.benefit-provider-h2 {
    @include media-breakpoint-down(sm) {
        font-size: 20px !important;
    }
}

.benefit-content-container {
    position: relative;
    top: -175px;
    margin-bottom: -175px;

    .benefit-content {
        border-radius: 5px;
        box-shadow: 0 0 10px #ccc;
        min-height: 500px;
        @include media-breakpoint-down(md) {
            padding: 2rem !important;
        }
        ul {
            list-style: none;
            padding-left: 0;
            li {
                display: inline-flex;
                width: 100%;
                &:before{
                    content: '\f058';
                    font-weight: 700;
                    font-family: "Font Awesome 5 Pro";
                    margin-right: 20px;
                }
            }
        }
        ul {
            strong {
                color: black;
            }
            p {
                color: black;
            }
        }
    }

    .provider-content {
        border-radius: 5px;
        box-shadow: 0 0 5px #ccc;
        min-height: 500px;
    }
}


