.contact-right {
  padding     : 50px;

  .h3 {
    width         : 100%;
    margin-bottom : 30px;
  }

  li {
    width            : 100%;
    background-color : transparent;
    border           : 0;
    padding          : 5px 0;

    a {
      color : white;
    }
  }
}
