.footer-container {
  width: 100%;
  display: block;
  float: left;

  .footer {
    width: 100%;
    min-height: 200px;
    //background-color: #004354;
    color: white;
    display: flex;
    padding: 20px 0;

    .footer-menu {
      .list-group-item {
        background-color: transparent;
        border: 0;

        a {
          color: white;
        }

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }

  .copyright {
    width: 100%;
    min-height: 40px;
    background-color: #2c2d2e;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
  }
}
