.header{
  .logo{
    max-width : 200px;
  }

  li{
    background-color : transparent;
    border           : 0;

    .nav-link{
      font-weight  : bold;
      margin-right : 10px;
    }
  }

  &.dark{
    background-color : #1C1D1E !important;
    color            : white;

    li{
      a{
        color : white;
      }
    }
  }

  .inner{
    display     : flex;
    align-items : center;
    padding     : $padding;
  }

  .signed_in{
    background-color : #21BCBB;
  }
}

.header-nav-layout {

  @include media-breakpoint-down(sm) {
    flex-direction: row !important;
    margin-top: 20px;
    display: inline-flex;
  }
}

.header-container {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.header-nav-spacing {
  @include media-breakpoint-down(sm) {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.header-logo {
  @include media-breakpoint-down(sm) {
    width: 150px;
  }
}
