.steps {
  .nav-tabs {
    border: 0;
    display: flex;
    justify-content: center;

    .nav-item {
      a {
        display: flex;
        align-items: center;
        border: 0;
        justify-content: center;
        flex-wrap: wrap;

        span {
          width: 100%;
          text-align: center;
          display: block;
          float: left;
          padding-top: 10px;
        }

        &:before {
          content: "";
          width: 100px;
          height: 100px;
          background-color: red;
          border-radius: 50%;
          display: block;
          opacity: 0.5;
        }

        &.active {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }

  .previewBlock {
    margin-bottom: 30px;
  }
}

#blog_preview {
  #banner_preview {
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
  }
}