#sidebar{
  width            : 100%;
  background-color : $grey_light;
  border-radius    : 10px;
  overflow         : hidden;

  .nav-pills{
    .nav-link{
      text-align : center;
      padding    : 20px 0;

      i{
        font-size     : 22px;
        margin-bottom : 10px;
      }

      small{
        width   : 100%;
        display : block;
      }
    }

    &.admin{
      .nav-link{
        width          : 100%;
        text-align     : left;
        display        : flex;
        align-items    : center;
        float          : left;
        padding-top    : 15px;
        padding-bottom : 15px;
        padding-left   : 20px;

        i{
          //width         : auto;
          //display       : inline-block;
          margin-right  : 20px;
          margin-bottom : 0;
        }
      }
    }

    &:not(.admin){
      .nav-link{
        i, small{
          width : 100%;
          @include media-breakpoint-down(sm) {
            width: auto;
          }
        }
      }
    }
  }
}

#user-main{
  background-color : $grey_light;
  border-radius    : 10px;
  padding          : 20px;
}
