.topbar{
  width            : 100%;
  background-color : $grey_light;
  border-radius    : 10px;
  overflow         : hidden;

  &.nav-pills {
    .nav-link {
      text-align : center;
      padding    : 20px 0;

      i {
        font-size     : 22px;
        margin-bottom : 10px;
      }

      small, i {
        width   : 100%;
        display : block;
      }
    }
  }
}