.block-image-split{
  .rounded-left{
    border-top-left-radius    : 15px !important;
    border-bottom-left-radius : 15px !important;
  }

  .rounded-right{
    border-top-right-radius    : 15px !important;
    border-bottom-right-radius : 15px !important;
  }

  .image-col{
    background-size : cover !important;
    background-position : center !important;
  }

  .a-center{
    min-height : 360px;
    padding    : 50px 0 50px 0;
  }
}