<template>
    <div class="block-content p-0" contenteditable="true" :class="[block.size, size]">
        <slot>
            <div class="block p-0 block-image-split reverse" :class="block.size">
                <div class="block-inner py-4">
                    <div class="row no-gutters">
                        <div class="col image-col block-center rounded-right" style="background-image: url('/storage/banners/banner.jpg')">

                        </div>
                        <div class="col block-center">
                            <div class="bg-light rounded-left p-5">
                                <h1 class="h2 partner-title mb-0">Title 1</h1>
                                <h2 class="h3 my-5">Subtitle 2</h2>
                                <a href="#" class="btn btn-primary">Click Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </slot>

        <div class="block-options row" contenteditable="false">
            <div class="col">
                <span>Size: </span>

                <select name="size" @click="updateBlock($event, block)" @change="changeSize($event, block, index)" class="d-block">
                    <option :value="i" v-for="(s, i) in sizes" :selected="i == size">{{ s }}</option>
                </select>
            </div>

            <div class="col-2">
                <span>Sort Order: {{block.sort_order}}</span>

                <div class="d-flex align-items-center ml-auto">
                    <input type="file" @change="attachBlockImage(block, $event)">
                    <i class="fas fa-arrow-up" @click="sortMoveUp(block, index)"></i>
                    <i class="fas fa-arrow-down" @click="sortMoveDown(block, index)"></i>
                    <i class="fa fa-trash" @click="removeBlock(block, index)"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {blockMixin} from "../../../mixins/block.mixin";

    export default {
        name: "block-image-split",
        props: ["block", "size", "sizes"],
        mixins: [blockMixin]
    }
</script>

<style scoped>

</style>
