<template>
    <div class="block-content" :class="[block.size, size]">
        <slot>
            <div class="block block-redeem  text-white" :class="block.size">
                <div class="block-inner bg-dark rounded p-4">
                    <div class="a-center">
                        <h4 class="h4 mb-0">
                            <span contenteditable="true">To redeem this benefit - click here</span>
                            <a href="#" class="btn btn-primary ml-5 uneditable">CLICK HERE</a>
                        </h4>
                    </div>
                </div>
            </div>
        </slot>

        <div class="block-options row" contenteditable="false">
            <div class="col">
                <span>Size: </span>

                <select name="size" @click="updateBlock($event, block)" @change="changeSize($event, block, index)" class="d-block">
                    <option :value="i" v-for="(s, i) in sizes" :selected="i == size">{{ s }}</option>
                </select>
            </div>

            <div class="col-2">
                <span>Sort Order: {{block.sort_order}}</span>

                <div class="d-flex align-items-center ml-auto">
                    <i class="fas fa-arrow-up" @click="sortMoveUp(block, index)"></i>
                    <i class="fas fa-arrow-down" @click="sortMoveDown(block, index)"></i>
                    <i class="fa fa-trash" @click="removeBlock(block, index)"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {blockMixin} from "../../../mixins/block.mixin";

    export default {
        name: "block-redeem",
        props: ["block", "size", "sizes"],
        mixins: [blockMixin]
    }
</script>

<style scoped>

</style>
