<template>
    <div class="block-content" contenteditable="true" :class="[block.size, size]">
        <slot>
            <div class="block block-jumbotron" :class="block.size">
                <div class="block-inner">
                    <div class="jumbotron rounded-0 mb-0">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <h1 class="h1 mb-0">Hello, world!</h1>
                                    <p class="lead my-5">This is a simple hero unit, a simple jumbotron-style component for calling extra
                                        attention to featured content or information.</p>
                                    <a class="btn btn-primary btn-lg" href="#" contenteditable="false">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </slot>

        <div class="block-options row" contenteditable="false">
            <div class="col">
                <span>Size: </span>


                <select name="size" @click="updateBlock($event, block)" @change="changeSize($event, block, index)" class="d-block">
                    <option :value="i" v-for="(s, i) in sizes" :selected="i == size">{{ s }}</option>
                </select>
            </div>

            <div class="col-2">
                <span>Sort Order: {{block.sort_order}}</span>

                <div class="d-flex align-items-center ml-auto">
                    <input type="file" @change="attachBlockImage(block, $event)">
                    <i class="fas fa-arrow-up" @click="sortMoveUp(block, index)"></i>
                    <i class="fas fa-arrow-down" @click="sortMoveDown(block, index)"></i>
                    <i class="fa fa-trash" @click="removeBlock(block, index)"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {blockMixin} from "../../../mixins/block.mixin";

    export default {
        name: "block-jumbotron",
        props: ['block', "size", "sizes"],
        mixins: [blockMixin]
    }
</script>