<template>
    <div class="block-content" :class="[block.size, size]">
        <slot>
            <div class="block block-slider" :class="block.size">
                <div class="block-inner">
                    <img src="/storage/assets/banner.jpg"/>
                    <img src="/storage/assets/banner.jpg"/>
                    <img src="/storage/assets/banner.jpg"/>
                </div>
            </div>
        </slot>

        <div class="block-options row" contenteditable="false">
            <div class="col">
                <span>Size: </span>


                <select name="size" @click="updateBlock($event, block)" @change="changeSize($event, block, index)" class="d-block">
                    <option :value="i" v-for="(s, i) in sizes" :selected="i == size">{{ s }}</option>
                </select>
            </div>

            <div class="col-2">
                <span>Sort Order: {{block.sort_order}}</span>

                <div class="d-flex align-items-center ml-auto">
                    <i class="fas fa-arrow-up" @click="sortMoveUp(block, index)"></i>
                    <i class="fas fa-arrow-down" @click="sortMoveDown(block, index)"></i>
                    <i class="fa fa-trash" @click="removeBlock(block, index)"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {blockMixin} from "../../../mixins/block.mixin";

    export default {
        name   : "block-slider",
        props  : ["block", "size", "sizes"],
        mixins : [blockMixin],
        data   : function () {
            return {
                slides: []
            }
        },
        mounted: function(){
            $('.block-slider').slick();
        }
    }
</script>