<template>
    <div class="block-content" :class="[block.size, size]">
        <slot>
            <div class="block block-boosted text-white" :class="block.size">
                <div class="block-inner bg-partner rounded px-5 py-3">
                    <h2 class="h2 text-center mb-4" contenteditable="true">
                        Boosted for Plus
                        <i class="fa fa-bars"></i>
                        Partners
                    </h2>
                    <span contenteditable="true">
                        Velit illo labore perspiciatis quas. Libero occaecati aliquid maiores sit praesentium consequatur.
                        Suscipit et laborum et blanditiis consequuntur aut molestiae. Similique et natus omnis numquam.
                    </span>
                    <h3 class="h3 text-center mt-3">
                        <form action="/dashboard" method="get">
                            <input type="hidden" id="fragment" name="fragment" value="boosted_benefits">
                            <button class="btn btn-default bg-white text-member">
                                BOOST THIS BENEFIT</button>
                        </form>
                    </h3>
                </div>
            </div>
        </slot>

        <div class="block-options row" contenteditable="false">
            <div class="col">
                <span>Size: </span>

                <select name="size" @click="updateBlock($event, block)" @change="changeSize($event, block, index)" class="d-block">
                    <option :value="i" v-for="(s, i) in sizes" :selected="i == size">{{ s }}</option>
                </select>
            </div>

            <div class="col-2">
                <span>Sort Order: {{block.sort_order}}</span>

                <div class="d-flex align-items-center ml-auto">
                    <i class="fas fa-arrow-up" @click="sortMoveUp(block, index)"></i>
                    <i class="fas fa-arrow-down" @click="sortMoveDown(block, index)"></i>
                    <i class="fa fa-trash" @click="removeBlock(block, index)"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {blockMixin} from "../../../mixins/block.mixin";

    export default {
        name: "block-boost",
        props: ["block", "size", "sizes"],
        mixins: [blockMixin]
    }
</script>

<style scoped>

</style>
