.navbar-brand{
  margin-left  : auto !important;
  margin-right : inherit !important;
}

.links{
  .btn{
    width     : 100%;
    max-width : 100%;
    margin    : 15px 0 15px 0;
  }
}

h1{
  &.member-title, &.partner-title{
    font-size : 26px;
    margin    : 15px 0 15px 0;
  }
}

.block{
  flex      : 0 0 100% !important;
  max-width : 100% !important;

  .btn{
    width       : 100%;
    max-width   : 100%;
    margin-left : 0 !important;
    margin-top  : 10px;
  }

  &.block-boosted{
    margin-top : 0;
  }

  &.block-split, .block-image-split{
    .col{
      &:nth-of-type(2n+0){
        margin-top : 20px;
      }
    }
  }

  &.block-image-split{
    .rounded-left{
      border-top-left-radius : 0 !important;
    }

    .row {
      flex-direction : column;

      .col{
        min-height    : 200px;
        border-top-right-radius : 0 !important;
        border-bottom-right-radius : 0 !important;
      }
    }
  }
}

.jumbotron{
  .col-6{
    flex      : 0 0 100%;
    max-width : 100%;
  }
}

// Mobile Tabs
#sidebar{
  background-color : transparent;

  .nav{
    flex-direction : row !important;

    &.nav-pills{
      .nav-link{
        background-color : #F7F7F7;
        flex             : 0 0 48%;
        margin-right     : 4%;
        margin-bottom    : 10px;

        &:nth-of-type(2n+0){
          margin-right : 0;
        }
      }

      .active-tab{
        width         : 100%;
        color         : white;
        text-align    : center;
        padding       : 20px 0;
        margin-bottom : 15px;
        position      : relative;

        i{
          width         : 100%;
          font-size     : 22px;
          margin-bottom : 10px;
          @include media-breakpoint-down(sm) {
            width: 10%;
          }
        }

        &:after{
          content     : "\f0d7";
          font-family : "Font Awesome 5 Pro";
          font-weight : 700;
          font-size   : 22px;
          position    : absolute;
          top         : 30px;
          right       : 30px;
        }

        &.open{
          &:after{
            content : "\f0d8";
          }
        }
      }
    }
  }
}
