@media screen and (max-width: 767px){
  @import './mobile';
}

@media screen and (min-width: 768px) and (max-width: 1200px){
  @import './tablet';
}

@media screen and (min-width: 768px){
    .border-md-right{
        border-right: solid 1px white;
    }
}

@media screen and (min-width: 1025px) {
    .border-xl-right{
        border-right: solid 1px white;
    }
}
