<template>
   <div>
       <template v-if="userObj && userObj.email !== 'admin@trustbox.com'">
           <button v-if="!userObj.deceased" type="button" class="btn btn-danger ml-3 mt-3" data-toggle="modal" data-target="#deathModal">
               <i class="fas fa-skull mr-2"></i>
               Mark User as Deceased
           </button>

           <button v-else type="button" id="tempButton" class="btn btn-warning ml-3 mt-3" disabled>
               <i class="fas fa-tombstone mr-2"></i>
               User is Deceased
           </button>
       </template>


       <div class="modal" tabindex="-1" id="deathModal" role="dialog">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">

                   </div>

                   <div class="modal-body">
                       <input type="hidden" name="deceased" v-model="deceased">

                       <div class="form-group position-relative">
                           <label for="death_cert" class="control-label">
                               Death Certificate
                           </label>
                           <input type="file" name="death_cert" class="d-block" @change="populateFile">

                           <div class='invalid-tooltip' :class="{'d-block': error}">
                               {{ error }}
                           </div>
                       </div>

                       <button type="submit" class="btn btn-primary" @click="submit">
                           Confirm
                       </button>
                   </div>
               </div>
           </div>
       </div>
   </div>
</template>

<script>
    export default {
        name : 'mark-deceased',
        props: [
            'url',
            'user'
        ],
        data: function(){
            return {
                deceased: 1,
                file: null,
                error: null,
                userObj: {}
            }
        },
        methods: {
            populateFile: function(e)
            {
                this.file = e.target.files[0];
            },
            submit: function()
            {
                if(this.file !== null)
                {
                    let data = new FormData();
                    data.append('deceased', this.deceased);
                    data.append('file', this.file);

                    fetch(this.url, {
                        method: 'POST',
                        mode: 'no-cors',
                        body: data
                    })
                    .then(() => {
                        $('#deathModal').modal('hide');
                        this.userObj.deceased = 1;
                    });
                }else
                {
                    this.error = 'A file is required';
                }
            }
        },
        mounted: function()
        {
            this.userObj = JSON.parse(this.user);
        }
    }
</script>
